#map {
        right:inherit;
        height: 480px;
        width: 100%;

       }
h1{
  text-align: center;
}
.container{
  text-align: justify;

}
.row{
  text-align: left;
}
.er{
  text-align:right;

}
.datas{
  text-align:center;
  width:inherit;
}
th, td{
  text-align: justify;
  width 100px;
}
#colu{
overflow: auto;
width: 200px;
height: 200px; /*establece la altura máxima, lo que no entre quedará por debajo y saldra la barra de scroll*/
}
  #tableScroll{
    max-height: 400px !important;
    overflow-y: scroll;
  }
